*{
    box-sizing: border-box;
}

.container,
h1 {
    text-align: center;
}

.container {
    margin: 2rem;
}


/* Play possibilities */

.play__possibilities--display {
    display: block;
}

.play__possibilities--hidden {
    display: none;
}

#play-possibilities>img {
    width: 20%;
    margin: 0.5rem;
}


/* Game validated */

.game__validated--display{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
}

.game__user,
.game__computer {
    /* width: 33%; */
    margin: 1rem 0.5rem;
    font-size: 0.8rem;
}

.game__user-validated--display,
.game__computer-validated--display {
    display: block;
    margin: 1rem;
}

.game__user-validated--hidden,
.game__computer-validated--hidden {
    display: none;
}

.choice__validated--img {
    width: 30%;
}

.endGame {
    /* width: 30%; */
    display: block;
    margin: 0.2rem auto;
}

.game__user--img,
.game__computer--img {
    width: 50%;
}

button#play-again {
    width: 40%;
    text-align: center;
    margin: 3rem auto 1rem auto;
}

.play-again--hidden {
    display: none;
}

.play-again--display {
    display: block;
}


/* Media queries

.container {
    margin: 4rem;
}

#play-possibilities>img {
    width: 8%;
    margin: 2rem;
}

.game__user,
.game__computer {
    width: 30%;
    margin: 1rem 3rem;
}

.game__user,
.game__computer {
    width: 33%;
    margin: 1rem 2rem;
    font-size: 0.8rem;
}
*/